<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
  <div class="upper-image">
           
                 
            
    <div class="container">
      <div class="text-group">
        <div class="logo-content">
          <img src="assets/images/sun.png" alt="">
          <h1>Weather App</h1>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  
  
</body>
</html>